// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plans{
   background-image: url("blueback.jpg");
   background-repeat: no-repeat;
   background-size: 100% 600px;
   background-attachment: fixed;
   height: auto;  
}

.plans_content{
  margin-left: 9%;
  margin-right: 9%;
}